<% include ./parts/nav.ejs%>
<!--body parts -->
<div class="container profile start">
    <div class="form-group ">
        <textarea class="form-control" rows="4">

        </textarea>
    </div>
</div>

<% include ./parts/footer.ejs%>