<% include ./parts/nav.ejs%>
<!--body parts -->
<div class="container profile">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="text-center start">
        <div>Get URL</div>
        <a class="btn btn-primary btn-lg" href="/new">Start</a>
    </div>
</div>

<% include ./parts/footer.ejs%>